.img-zoom-container {
    position: relative;
    display: flex;
    flex-direction: row;
    /* justify-content: center;
    align-items: center; */
  }
  
.img-zoom-lens {
  position: absolute;
  border: 2px solid red;
  outline: white 1px solid;
  /* box-shadow: 5px white; */
  /*set the size of the lens:*/
  width: 8vw;
  height: 5vw;
}
#myimage{
  height: 30vw;
  width: 30vw;
}
.img-zoom-result {
  margin-left: 3vw;
  border: 1px solid #0c0c0c;
  /*set the size of the result div:*/
  width: 48vw;
  height: 30vw;
}

.image p{
  padding: 2vh 2vw;
  background-color: white;
  clip-path: polygon(4% 0, 100% 0, 96% 100%, 0% 100%);
}

.image h3{
  font-size: 2.85vw;
  margin-top: 1vw;
  padding: 2vh 2vw;
  color: black;
  font-variant: small-caps;
  background-position: left;
  background-color: white;
  clip-path: polygon(4% 0, 100% 0, 96% 100%, 0% 100%);
}

.image{
  background-image: linear-gradient(90deg , violet, indigo, blue, green, yellow, orange, red);
  background-size: 800%;
  background-position: left;
  animation: bganimate 8s ease-in-out infinite alternate;
}

@keyframes bganimate {
  0%{
    background-position: left;
  }
  100%{
    background-position: right;
  }
}