.img-zoom-container {
    position: relative;
    display: flex;
    flex-direction: row;
    /* justify-content: center;
    align-items: center; */
  }
  
.img-zoom-lens {
  position: absolute;
  border: 1px solid #d4d4d4;
  /*set the size of the lens:*/
  width: 80px;
  height: 50px;
}
#myimage{
  height: 35vw;
  width: 35vw;
}
.img-zoom-result {
  margin-left: 3vw;
  border: 1px solid #0c0c0c;
  /*set the size of the result div:*/
  width: 35vw;
  height: 35vw;
}