.img-zoom-container {
    position: relative;
    display: flex;
    flex-direction: row;
  }
  
.img-zoom-lens {
  position: absolute;
  border: 1px solid #d4d4d4;
  /*set the size of the lens:*/
  width: 60px;
  height: 50px;
}
  
.img-zoom-result {
  border: 1px solid #0c0c0c;
  /*set the size of the result div:*/
  width: 10vw;
  height: 10vh;
}